<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeFi Group Share</title>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <!-- <script defer src="./script.js"></script> -->
    <script async src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';"> -->
</head>

<body>
    <div id="preloader">Connection not established. Retrying in 4 seconds...</div>
    <div id="notification-array">
        <p class="notification-item" id="notification-1">Example notification</p>
    </div>


    <nav>
        <ul>
            <li>NeFi Group Share <span id="ip-span" style="margin-top: -7px;">127.0.0.1:7000</span>
            </li>
            <!-- <li>
                <ul>
                    <li>
                        <img width="100" height="100" src="https://img.icons8.com/ios/100/help--v1.png"
                            alt="help--v1" />
                    </li>
                    <li>
                        <img width="100" height="100" src="https://img.icons8.com/ios/100/settings--v1.png"
                            alt="settings--v1" />
                    </li>
                    <li>
                        <img style="border-radius: 50px;" width="100" height="100"
                            src="https://yt3.googleusercontent.com/H3djB_hVq1Ka1auGf5eCi-wUfwI-kctMW-skVqrXnJwAvqQxI8XSw_ErmyUMNEQmMIxcQgNhNGU=s176-c-k-c0x00ffffff-no-rj"
                            alt="user-male-circle--v1" />
                    </li>
                </ul>
            </li> -->
        </ul>
    </nav>

    <main style="display: flex;flex-direction: column;">

        <!-- RIGHT -->
        <div class="split centered">
            <p id="center-message">No items in bucket!</p>
            <p>Device(s) connected to WiFi can access these file(s).</p>
            <div id="file-items-div" class="overflow-div">
                <!-- ALL FILES HERE  -->
            </div>

        </div>

        <!-- ACTION NAV FOR BIG SCREEN -->
        <!-- <div id="action-nav">
            <button onclick="showHideQR()" id="show-qr-button" class="button-custom">Show QR</button>
            <button onclick="showHideUpload()" id="share-button" class="button-custom">Share a file</button>
        </div> -->
        <div class="action-nav-new">
            <svg onclick="showHideQR()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M0 80C0 53.5 21.5 32 48 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80zM64 96v64h64V96H64zM0 336c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V336zm64 16v64h64V352H64zM304 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H304c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48zm80 64H320v64h64V96zM256 304c0-8.8 7.2-16 16-16h64c8.8 0 16 7.2 16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s7.2-16 16-16s16 7.2 16 16v96c0 8.8-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s-7.2-16-16-16s-16 7.2-16 16v64c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V304zM368 480a16 16 0 1 1 0-32 16 16 0 1 1 0 32zm64 0a16 16 0 1 1 0-32 16 16 0 1 1 0 32z"/></svg>
            <span class="vl"></span>

            <svg onclick="showHideUpload()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"/></svg>
        </div>


        <!-- ACTION NAV FOR small screen -->
        <div id="action-nav-mobile">
            <button onclick="showHideQR()" id="show-qr-button" class="button-custom-mobile">Show QR</button>
            <button onclick="showHideUpload()" id="share-button" class="button-custom-mobile">Share a file</button>
        </div>

        <!-- QR POPUP -->
        <!-- <div id="qr-popup" class="popup">
            <div>
                <h3>Scan this QR</h3>
                <p>Share or download files on your <br> Linux, Mac, Windows or Android</p>
            </div>
            <div id="qrcode"></div>
            <p onclick="notification_component('Make sure your device(s) are connected to same WiFi Network.')" style="margin-top: 14px;text-decoration: underline;color: blue;">Not Connecting?</p>
            <div>

                <button onclick="showHideQR()" id="show-qr-button"
                    class="button-custom-mobile popup-action-button">Close</button>
            </div>
        </div> -->
        <div id="qr-popup" class="popup">
            <div>
                <h3>Scan this QR</h3>
                <p>Share or download files on your <br> Linux, Mac, Windows or Android</p>
            </div>
            <div id="qrcode"></div>
            <p onclick="notification_component('Make sure your device(s) are connected to same WiFi Network.')" style="margin-top: 14px;text-decoration: underline;color: blue;">Not Connecting?</p>
            <div>

                <button onclick="showHideQR()" id="show-qr-button"
                    class="button-custom-mobile popup-action-button">Close</button>
            </div>
        </div>

        <!-- ADD FILES POPUP -->
        <div id="upload-popup" class="popup">
            <div>
                <h3>Upload File(s)</h3>
                <p>Files will be accisible to all devices</p>
            </div>
            <input style="text-align-last: center;" onchange="uploadFiles()" multiple type="file"
                name="file-upload-input" id="file-upload-input">
            <div id="progress-div" class="progress-bar">
                <progress value="0" min="0" max="100" style="visibility:hidden;height:0;width:0;">0%</progress>
            </div>
            <div>

                <button style=" margin-top: 0px;
                margin-bottom: 12px;" onclick="showHideUpload()" id="show-qr-button"
                    class="button-custom-mobile popup-action-button">Close</button>
            </div>
        </div>
    </main>

    <script>
        let qr_popup = document.getElementById('qr-popup');

        function showHideQR() {
            qr_popup.classList.toggle('element-visible')
        }

        let upload_popup = document.getElementById('upload-popup');
        function showHideUpload() {
            upload_popup.classList.toggle('element-visible');
        }

    </script>
</body>

</html>